<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base_form</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<table>
    <tr>
        <th>Name of task</th>
        <th>Start date</th>
        <th>Finish date</th>
        <th>Responsible person</th>
        <th>Machines</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.finish_date }}</td>
            <td>{{ task.person.full_name }}</td>
            <td>
                {% for machine in task.machine.all %}
                <li>{{ machine.machine_model }}</li>
                {% endfor %}
            </td>
            <td>
                <button type="button">
                <a href="http://localhost:8000/edit-task/{{ task.id }}">Edit</a>
                </button>
                <button type="button">
                <a href="http://localhost:8000/delete-task/{{ task.id }}/">Delete</a>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<br><button type="button"><a href="http://localhost:8000/add-task/">Add Task</a></button><br><br>
<table>
    <tr>
        <th>Name of person</th>
        <th>Position</th>
        <th>Task</th>
        <th>Actions</th>
    </tr>
    {% for person in persons %}
        <tr>
            <td>{{ person.full_name }}</td>
            <td>{{ person.position }}</td>
            <td>
                {% for task in person.task_set.all %}
                <li>{{ task.name }}</li>
                {% endfor %}
            </td>
            <td>
                <button type="button">
                <a href="http://localhost:8000/edit-person/{{ person.id }}">Edit</a>
                </button>
                <button type="button">
                <a href="http://localhost:8000/person-task/{{ person.id }}/">Delete</a>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<br><button type="button"><a href="http://localhost:8000/add-person/">Add Person</a></button><br><br>
<table>
    <tr>
        <th>Machine model</th>
        <th>Description</th>
        <th>Task</th>
        <th>Actions</th>
    </tr>
    {% for machine in machines %}
        <tr>
            <td>{{ machine.machine_model }}</td>
            <td>{{ machine.description }}</td>
            <td>
                {% for task in machine.task_set.all %}
                <li>{{ task.name }}</li>
                {% endfor %}
            </td>
            <td>
                <button type="button">
                <a href="http://localhost:8000/edit-machine/{{ machine.id }}">Edit</a>
                </button>
                <button type="button">
                <a href="http://localhost:8000/delete-machine/{{ machine.id }}/">Delete</a>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<br><button type="button"><a href="http://localhost:8000/add-machine/">Add Machine</a></button>
</body>
</html>