<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base_form</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            <p>Jesteś zalogowany jako: {{ request.user.username }}</p>
            <a href="{% url 'logout' %}">Wyloguj się.</a><br><br>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj się.</a><br><br>
        {% endif %}
    </header>
<button type="button"><a href="http://localhost:8000">List of tasks</a></button>
<button type="button"><a href="http://localhost:8000/person-list/">List of persons</a></button>
<button type="button"><a href="http://localhost:8000/machine-list/">List of machines</a></button><br><br>
<table>
    <tr>
        <th>No.</th>
        <th>Name of task</th>
        <th>Start date</th>
        <th>Finish date</th>
        <th>Responsible person</th>
        <th>Machines</th>
        <th>Done</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="http://localhost:8000/task-details/{{ task.id }}">{{ task.name }}</a></td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.finish_date }}</td>
            <td>{{ task.person.full_name }}</td>
            <td>
                {% for machine in task.machine.all %}
                <li>{{ machine.machine_model }}</li>
                {% endfor %}
            </td>
            <td>{{ task.done }}</td>
            <td>
                <button type="button">
                <a href="http://localhost:8000/edit-task/{{ task.id }}">Edit</a>
                </button>
                <button type="button">
                <a href="http://localhost:8000/delete-task/{{ task.id }}/">Delete</a>
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<br><button type="button"><a href="http://localhost:8000/add-task/">Add Task</a></button>
<button type="button"><a href="http://localhost:8000/add-image">Add Image</a></button><br><br>
</body>
</html>